@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

:root {
  --background: #fdfaf0;
  --foreground: #401878;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Fredoka', sans-serif;
  --color-brand-yellow: #ffdc2e;
  --color-brand-purple: #401878;
  --color-brand-pink: #ee4c83;
  --color-brand-cream: #fef6e0;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}
